section.repository-list{
    .repository-list-header{
        min-height: 25vh;
        margin-bottom: 20px;

        border-radius:  25px 25px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #8257e6;
        color: #FFF;
        h1{
            text-transform: uppercase;
            margin-bottom: 0;
            font: bold 40px 'Oswald', sans-serif;
            letter-spacing: 1.5px;
        }
    }
    margin: 40px 25px;
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        list-style: none;
    }
    li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 25vh;
        text-align: center;
        background-color: #FFF;
        padding: 15px 20px;
        border-radius: 5px;
        h3{
            font: bold 18px Montserrat, sans-serif;
            text-transform: capitalize;
        }
        p{
            font: 400 14px Montserrat, sans-serif;
            color: #444;
            margin-top: 8px;
        }   
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            margin-top: 16px;
            border-radius: 5px;
            text-decoration: none;
            font: 400 14px Montserrat, sans-serif;
            color: #f4f4f4;
            background-color: #8257e6;
        }

    }
}

@import './media.scss';